.DS_Store
__pycache__/
.hypothesis/
.ipynb_checkpoints/
.vscode/
build/
dist/
privugger.egg-info/
*.html
*.pdf
*.priv
*.png
myenv/
docs/tutorials/typed.py
docs/tutorials/temp.csv
/typed.py
# Exclude notebooks directory
/notebooks/

# Exclude build files but allow GitHub Pages publishing
docs/_build/*
# Uncomment the following lines if specific files are needed for GitHub Pages:
# !docs/_build/html/.nojekyll

# Ignore PyCharm-specific files
.idea/
*.iml
